@model Category

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Tạo thể loại mới</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post" class="row">
			<div class="border p-3">
				@* Dùng "All" là hiển thị tất cả dạng lỗi bao gồm lỗi thuộc tính, "ModelOnly" là hiển thị lỗi trong model*@
				@* <div asp-validation-summary="ModelOnly"></div> <!-- Thêm thông báo lỗi tổng hợp trên bảng chung --> *@
				<div class="form-floating py-2 col-12">
					<input asp-for="Name" class="form-control border-0 shadow" /> <!-- Dùng input tag Helper thêm Name -->
					<label asp-for="Name" class="ms-2"></label>
					
					<span asp-validation-for="Name" class="text-danger"></span> <!-- Thêm thông báo lỗi -->
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="DisplayOrder" class="form-control border-0 shadow" /> <!-- Dùng input tag Helper thêm DisplayOrder -->
					<label asp-for="DisplayOrder" class="ms-2" ></label> <!-- Thêm DisplayOrder -->
					
					<span asp-validation-for="DisplayOrder" class="text-danger"></span> <!-- Thêm thông báo lỗi -->
				</div>

				<div class="row mt-3">
					<div class="col-6 col-md-3">
						<button type="submit" class="btn btn-primary form-control">Create</button>
					</div>
					<div class="col-6 col-md-3">
						<a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">
							Back to List
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" /> <!-- Thêm script validation từ folder Shared -->
	}
}